div class="loginbox" style="background-image: url(https://i.imgflip.com/14vtl9.gif); background-repeat: no-repeat; background-size: cover;"
    h2
        = error_message
    a href="#{redirect_to}" Go back