body{
    padding: 0px;
    margin: 0px;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

.body{
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

footer{
    position: absolute;
    bottom: 0px;
    width: 100vw;
    height: 5vh;
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
}

p.footer{
    color: white;
    text-decoration: none;
}

.b1box{
    background-image: url(https://media.tenor.com/images/a5424852abc98df69ebd4b4e366e1b6f/tenor.gif);
}

.b2box{
    background-image: url(https://i.pinimg.com/originals/d0/3b/49/d03b490f9a10edf6f35b811ec1e31517.gif);
}

.b3box{
    background-image: url(https://i.pinimg.com/originals/0f/ef/89/0fef89cec521a42e4e85cb545241f665.gif);
}

.content{
    display: flex;
    flex-direction: row;
    height: 90vh;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: blue;
}

.loginbox{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginform{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.startblock{
    flex-grow: 1;
}

.leftblock{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.groupbox{
    border-radius: 5px;
    background-color: lightcyan;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.rightblock{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.invitebox{
    border-radius: 5px;
    background-color: lightcyan;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

p{
    margin: 0px;
    text-decoration: none;
    color: black;
}

h2{
    margin: 20px;
    align-self: center;
}

h1{
    text-decoration: none;
    color: black;
}

a.title{
    text-decoration: none;
}

a.agroupbox{
    text-decoration: none;
    padding-right: 10px;
    padding-left: 10px;
    border: 0px;
    border-bottom: 1px;
    border-color: black;
    border-style: dashed;
    transition: 0.5s;
}

div.chat{
    display: flex;
    flex-direction: column;   
}

div.message{
    border: 2px solid black;
    margin: 2px;
    display: flex;
    flex-direction: row;
}

p.message_text{

}

p.message_poster{
    font-size: 20px;
    margin-right: 20px;
}

div.group{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
}

a.agroupbox:hover{
    background-color: #AAFFFF;
    transition: 0.5s;
}

.groupform{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 20px;
}

input{
    border: 0 solid black;
    border-radius: 5px;
    height: 25px;
    width: 180px;
    margin-bottom: 10px;
}

#myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#myUL li a {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
}

input.invite{
    width: auto;
    background-color: transparent;
}

div.chat{
    flex-grow: 1;
}

div.invite{
    flex-grow: 1;
}

div.users{
    flex-grow: 1;
}